.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

pre {
    background-color: #080000;
    padding: 10px;
    overflow-x: auto;
}

code {
    font-family: "Courier New", monospace;
    font-size: 14px;
}

.python {
    color: #e83e8c;
}

.copy-button {
    display: inline-block;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.copy-button:hover {
    background-color: #45a049;
}

.notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f44336;
    color: white;
    padding: 16px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease;
}

.notification.show {
    visibility: visible;
    opacity: 1;
}